/* HEADER */

.main-container {
    max-width: 80vw;/* vw = viewport. Tem a ver com a tela. Se a tela tem tanto, quero que tu use 80 desse tanto. De 100 posições, ocupe 80*/
    height: 100vh;/* Tem a mesma lógica que vw. Aqui está dizendo que de 100 posições de altura ele deve ocupar as 100 */
    margin-left: 320px;
    margin-right: 56px;
}
.header__navigation {
    display: flex;
    justify-content: space-between; 
    /* Tudo justificado e cada um tem um espaço entre  */
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color--primary);
}
.header__navigation .navigation{
    display: flex;
    justify-content: space-around; /* Centraliza tudo e coloca espaços em volta dos elementos */
    align-items: center;
}
.header__navigation .navigation .arrow-left {
    margin-left: 1.25rem;/* rem = unid de medida não estático. Unid relativa*/
    margin-right: 0.5rem;
}
.arrow-left, .arrow-right { /* , pq é para os dois ao mesmo tempo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    background: var(--bg--icon);
    background-color: var(--bg--arrow--color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Login */
.header__login {
    display: flex;
    align-items: center;
}
.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--color--tertiary);
    border-radius: 500px;
    border: 1px solid transparent;
    cursor: all-scroll;
}
.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.header__search input {
    background: transparent;
    border: none;
    padding-block-end: 0 100px 0 12px;
    color: var(--color--white);
    text-overflow: ellipsis;/* Valor de text muito grande e n podemos mostrar tudo e nao queremos quebrar o texto, nós mostramos com os ...*/
    overflow: hidden;/* Para fazer o text-overflow funcionar, sem esse n funciona */
    white-space: nowrap;/* Deixa o texto sempre numa linha só. Não deixa ela quebrar  */
    outline: none; /* É a borda da borda kk */
}
.header__login .subscribe {
    color: var(--color-subscribe);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    cursor: pointer;
}
.header__login .subscribe:hover {
    color: var(--color--white);
}
.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--color--black);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}

/* SESSÃO DOS CARDS */
.playlist-container {
    background-color: var(--color--primary);
    padding-top: 16px;
    margin-left: 8px;
    border-radius: 10px;
    height: 68vh;
    margin: 10px;
}
.playlist {
    margin: 24px;
}
.playlist-container .playlist-container__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}
.playlist-container .playlist-container__subtitle {
    font-size: 24px;
    font-weight: 700;
}