:root {
    /* FONT */
    --font-dm-sans:"DM Sans", sans serif;
    /* COLORS */
    --color--white: #fff;
    --color--black: #000;
    --color--primary: #121212;
    --color--secondary: #b3b3b3;
    --color--tertiary: #242424;
    --color--quaternary: #878787

    /* MAIN */
    --bg--icon: #131313;
    --bg--arrow--color: rgba(0,0,07);
    --color-subscribe: #a7a7a7
}