body {
    background-color: var(--color--black);
    color: var(--color--white);
    font-family: var(--font-dm-sans);
}
.sidebar {
    position: fixed;
    top: 0; /* sempre grudado no topo */
    left: 0;
    bottom: 0;
    /* top, left, bottom e right usamos para trabalhar com os position, eles são diferentes de margin-left, etc */
    padding: 12px;
    width: 300px;
}
.sidebar__navigation {
    background-color: var(--color--primary);
    border-radius: 8px;
    padding: 16px 0 0 16px;/* cima - direita - baixo - esquerda */
}
.sidebar__navigation .logo {
    background: var(--color--primary);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px; /* não ficar gudado na imagem */
    padding: 0 20px 10px 20px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul li a{
    color: var(--color--secondary);
    text-decoration: none;
    font-weight: 600; /* Peso da letra, podemos colocar em números para baixo ou para cima, para colocar por ex em negrito */
    font-size: 14px; /*Reflete nos ícones tbm pq são considerados texto */
}

/* AULA 2 */
.library {
    background-color: var(--color--primary);
    border-radius: 8px;
    margin-top: 10px;
    display: flex; /* Flexibilidade para posicionar em coluna ou linha */
    justify-content: space-between;/* Faz todos os objetos estarem justificados com um espaço entre eles */
    flex-direction: column;/* Ficara as 4 sessões uma embaixo da outra */
    padding: 4px 8px;/* top+bottom right+left */
    color: var(--color--secondary);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px ;
}
.library .library__content {
    display: flex;
    justify-content: space-between;
}
.library .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--color--secondary)b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}
.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library .library__content .fa-plus {
    margin: 24px 10px;
}
.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--color--tertiary);
    color: var(--color--secondary);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}
.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}
.section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--color--white);
}
.section-playlist__content .title {
    font-weight: 700px;
}
.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}
.section-playlist__content .section-playlist__button {
    display: flex;/* Colocamos aqui para alinhar o texto dentro dele */
    justify-content: center;
    background-color: var(--color--white);
    color: var(--color--black);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    margin-top: 12px;
    padding: 10px;
    border: 0;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}
.sidebar .cookies a {
    color: var(--color--secondary);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}
.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button {
    background: transparent;
    border: 1px solid var(--color--quaternary);
    border-radius: 20px;
    font-weight: bold;/* ou 700*/
    color: var(--color--white);
    cursor: pointer;
    align-items: center;/* Aqui não precisa do display:flex pq só tem texto  */
    width: 170px;
    margin: 8px;
    padding: 8px;
}

/* Rodapé */
.rodape-premium {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
}
.rodape-premium text {
    flex-shrink: 0;
}
.rodape-premium .rodape-premium__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.rodape-premium .rodape-premium__subtitle  {
    font-size: 14px;
    font-weight: 500;
}
.rodape-premium .rodape-premium__button {
    background: var(--color--white);
    color: var(--color--black);
    border: 0;
    border-radius: 40px;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}